.log-card {
  margin-top: 10rem;
  height: auto;
}

.fig-style {
  margin-bottom: 3rem;
}

.input-style {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.link-style {
  color: royalblue;
  margin-right: 1rem;
}

.button-style {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button-style2 {
  margin-left: 1rem;
}

.img-style {
  height: auto;
}
