<!-- <div class="container">
  <div class="row">
      <div class="col-md-8"><label class="form-label">Product Name</label>
        <input type="text" class="form-control" [(ngModel)]="productName" placeholder="productName" />
        <button class="btn btn-primary" type="button" (click)="CreateRecord()">Save</button>
        </div>
  </div>
</div> -->

<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <!-- <h1 style="margin-top: 25px">
    {{ title }}
  </h1> -->

  <!-- <div class="row" style="margin-top: 25px;">
        <div class="col-md-4">
          <input type="text" class="form-control" [(ngModel)]="productName" placeholder="Name">
        </div>
    
        <div class="col-md-8">
          <button type="button" (click)="CreateRecord()" [disabled]="!productName" class="btn btn-primary">+
            Create Product</button>
        </div>
      </div> -->

  <div class="card" style="height: '28rem'">
    <div class="card-header" style="text-align: center">
      Enter container details
    </div>

    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Others/intro1.jpg"
      alt="container img"
      class="card-img-top"
      style="height: 5rem"
    />
    <div class="row">
      <div class="col-md-3">
        <img
          src="https://www.pikpng.com/pngl/b/363-3632522_shipping-container-png-shipping-container-clipart.png"
          alt="container img"
          class="img-fluid rounded-starts input-image"
        />
        <!-- form start -->
        <div>
          <div class="form-group" style="text-align: center; margin-top: 1rem">
            <input
              type="file"
              class="form-control-file input-style"
              id="exampleFormControlFile1"
            />

            <input
              type="text"
              class="form-control input-style"
              [(ngModel)]="imagePath"
              placeholder="Image Path"
              value="https://image.shutterstock.com/image-illustration/blue-cargo-container-shipping-freight-260nw-1173499228.jpg"
            />
          </div>
        </div>
        <!-- form start -->
      </div>
      <div class="col-md-3">
        <input
          type="text"
          class="form-control input-style"
          [(ngModel)]="productName"
          placeholder="Name"
        />
        <input
          type="text"
          class="form-control input-style"
          [(ngModel)]="containerNo"
          placeholder="ContainerNo"
        />

        <select
          id="sizeDropDown"
          class="form-select input-style"
          aria-label="Default select example"
          [(ngModel)]="size"
        >
          <option selected>Select Size</option>
          <option *ngFor="let item of sizes">
            {{ item.size.code }}
          </option>
        </select>

        <select
          id="typeDropDown"
          class="form-select input-style"
          aria-label="Default select example"
          [(ngModel)]="type"
        >
          <option selected>Select Types</option>
          <option *ngFor="let item of types">
            {{ item.type.code }}
          </option>
        </select>

        <select
          id="conditionDropDown"
          class="form-select input-style"
          aria-label="Default select example"
          [(ngModel)]="saleCondition"
        >
          <option selected>Select condition</option>
          <option *ngFor="let item of conditions">
            {{ item.condition.code }}
          </option>
        </select>

        <select
          id="colorDropDown"
          class="form-select input-style"
          aria-label="Default select example"
          [(ngModel)]="color"
        >
          <option selected>Select color</option>
          <option *ngFor="let item of colors">
            {{ item.color.code }}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <select
          id="depotDropDown"
          class="form-select input-style"
          aria-label="Default select example"
          [(ngModel)]="depot"
        >
          <option selected>Select depot</option>
          <option *ngFor="let item of depots">
            {{ item.depot.code }}
          </option>
        </select>

        <input
          type="text"
          class="form-control input-style"
          [(ngModel)]="manufactureDate"
          placeholder="Manufacture Date"
          onfocus="(this.type='date')"
        />
        <select
          id="floorDropDown"
          class="form-select input-style"
          aria-label="Default select example"
          [(ngModel)]="floor"
        >
          <option selected>Select floor</option>
          <option *ngFor="let item of floors">
            {{ item.floor.code }}
          </option>
        </select>

        <input
          class="form-control input-style"
          [(ngModel)]="payload"
          placeholder="Payload"
          type="number"
          id="payload"
          name="payload"
          min="100"
          max="1000000"
        />
        <input
          class="form-control input-style"
          [(ngModel)]="tare"
          placeholder="Tare Weight"
          type="number"
          id="tare"
          name="tare"
          min="100"
          max="1000000"
        />
        <input
          class="form-control input-style"
          [(ngModel)]="maxGrossWeight"
          placeholder="Max Gross Weight"
          type="number"
          id="maxGrossWeight"
          name="maxGrossWeight"
          min="100"
          max="1000000"
        />
      </div>
      <div class="col-md-3">
        <input
          class="form-control input-style"
          [(ngModel)]="price"
          placeholder="Unit Price"
          type="number"
          id="price"
          name="price"
          min="100"
          max="1000000"
        />
        <select
          id="isoDropDown"
          class="form-select input-style"
          aria-label="Default select example"
          [(ngModel)]="iso"
        >
          <option selected>Select iso</option>
          <option *ngFor="let item of isos">
            {{ item.iso.code }}
          </option>
        </select>
      </div>
    </div>
    <div class="card-footer" style="text-align: center">
      <button
        type="button"
        (click)="CreateRecord()"
        class="btn btn-primary input-button"
      >
        <span class="fa fa-search input-btn-span"></span> Search
      </button>
      <button
        type="button"
        (click)="CreateRecord()"
        [disabled]="!containerNo"
        class="btn btn-primary input-button"
      >
        <span class="fa fa-plus input-btn-span"></span> Create
      </button>
      <button
        type="button"
        (click)="CreateRecord()"
        [disabled]="!containerNo"
        class="btn btn-primary input-button"
      >
        <span class="fa fa-edit input-btn-span"></span> Update
      </button>
      <button
        type="button"
        (click)="CreateRecord()"
        [disabled]="!containerNo"
        class="btn btn-primary input-button"
      >
        <span class="fa fa-trash-o input-btn-span"></span> Delete
      </button>
    </div>
  </div>

  <div class="row" style="margin-top: 25px">
    <div class="col-md-12">
      <div
        class="card"
        style="width: 80rem; margin-bottom: 1rem; height: auto"
        *ngFor="let item of products"
      >
        <div class="row">
          <div class="col-md-3">
            <div class="bg-image hover-zoom">
              <img
                src="{{ item.Product['imagePath'] }}"
                alt="container img"
                class="img-fluid rounded-starts"
              />
              <p class="card-text text-style">
                ImagePath: {{ item.Product["imagePath"] | slice: 0:30 }}
              </p>
            </div>
          </div>

          <div class="col-md-9">
            <div class="card-body" *ngIf="!item.isEdit; else elseBlock">
              <div class="row">
                <div class="col-md-4">
                  <h5 class="card-title">
                    {{ item.Product["Name"] }}
                  </h5>
                  <p class="card-text">
                    ContainerNo: {{ item.Product["containerNo"] }}
                  </p>
                  <p class="card-text">Size: {{ item.Product["size"] }}</p>
                  <p class="card-text">Type: {{ item.Product["type"] }}</p>
                  <p class="card-text">
                    SaleCondition: {{ item.Product["saleCondition"] }}
                  </p>
                  <p class="card-text">Color: {{ item.Product["color"] }}</p>
                </div>
                <div class="col-md-4">
                  <p class="card-text">Depot: {{ item.Product["depot"] }}</p>
                  <p class="card-text">
                    Man.Date:
                    {{ item.Product["manufactureDate"] | date: "fullDate" }}
                  </p>
                  <p class="card-text">Floor: {{ item.Product["floor"] }}</p>
                  <p class="card-text">
                    Payload: {{ item.Product["payload"] }}
                  </p>
                  <p class="card-text">Tare: {{ item.Product["tare"] }}</p>
                  <p class="card-text">
                    Max.Gross: {{ item.Product["maxGrossWeight"] }}
                  </p>
                </div>
                <div class="col-md-4">
                  <p class="card-text">
                    Unit Price:
                    {{ item.Product["price"] | currency: "INR":"symbol":"1.2" }}
                  </p>
                  <p class="card-text">
                    ISO:
                    {{ item.Product["iso"] }}
                  </p>
                  <a href="#" class="card-link" (click)="EditRecord(item)"
                    >Edit</a
                  >
                  <a href="#" class="card-link" (click)="RemoveRecord(item.id)"
                    >Delete</a
                  >
                </div>
              </div>
            </div>

            <ng-template #elseBlock>
              <div class="card-body">
                <h5 class="card-title">Edit</h5>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <input
                        type="text"
                        class="form-control input-style"
                        [(ngModel)]="item.Product.EditName"
                        placeholder="Edit Name"
                      />
                      <input
                        type="text"
                        class="form-control input-style"
                        [(ngModel)]="item.Product.EditContainerNo"
                        placeholder="Edit ContainerNo"
                      />
                      <input
                        type="text"
                        class="form-control input-style"
                        [(ngModel)]="item.Product.EditSize"
                        placeholder="Edit Size"
                      />
                      <input
                        type="text"
                        class="form-control input-style"
                        [(ngModel)]="item.Product.EditType"
                        placeholder="Edit Type"
                      />
                      <input
                        type="text"
                        class="form-control input-style"
                        [(ngModel)]="item.Product.EditSaleCondition"
                        placeholder="Edit SaleCondition"
                      />
                      <input
                        type="text"
                        class="form-control input-style"
                        [(ngModel)]="item.Product.EditColor"
                        placeholder="Edit Color"
                      />
                    </div>
                    <div class="col-md-4">
                      <input
                        type="text"
                        class="form-control input-style"
                        [(ngModel)]="item.Product.EditDepot"
                        placeholder="Edit Depot"
                      />
                      <input
                        type="text"
                        class="form-control input-style"
                        [(ngModel)]="item.Product.EditManufactureDate"
                        placeholder="Edit ManufactureDate"
                      />
                      <input
                        type="text"
                        class="form-control input-style"
                        [(ngModel)]="item.Product.EditFloor"
                        placeholder="Edit Floor"
                      />
                      <input
                        type="text"
                        class="form-control input-style"
                        [(ngModel)]="item.Product.EditPayload"
                        placeholder="Edit Payload"
                      />
                      <input
                        type="text"
                        class="form-control input-style"
                        [(ngModel)]="item.Product.EditTare"
                        placeholder="Edit Tare"
                      />
                      <input
                        type="text"
                        class="form-control input-style"
                        [(ngModel)]="item.Product.EditMaxGrossWeight"
                        placeholder="Edit MaxGross"
                      />
                    </div>
                    <div class="col-md-4">
                      <input
                        type="text"
                        class="form-control input-style"
                        [(ngModel)]="item.Product.EditPrice"
                        placeholder="Edit UnitPrice"
                      />
                      <input
                        type="text"
                        class="form-control input-style"
                        [(ngModel)]="item.Product.EditIso"
                        placeholder="Edit ISO"
                      />
                      <input
                        type="text"
                        class="form-control input-style"
                        [(ngModel)]="item.Product.EditImagePath"
                        placeholder="Edit ImagePath"
                      />
                    </div>
                  </div>
                </div>
                <a href="#" class="card-link" (click)="item.isEdit = false"
                  >Cancel</a
                >
                <a href="#" class="card-link" (click)="UpdateRecord(item)"
                  >Update</a
                >
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav aria-label="...">
  <ul class="pagination pagination-circle">
    <li class="page-item">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#"
        >2 <span class="visually-hidden">(current)</span></a
      >
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
