.product-item-img {
  box-shadow: 0px 0px 0px 0px;
  width: 25rem;
  height: 20rem;
}

.product-card {
  margin-top: 2rem;
}

.button-style {
  margin-right: 0.5rem;
}

.div-style {
  margin-top: 0.5rem;
  text-align: center;
}
